._container {
  max-width: 1140px;
  margin: 0 auto;
}

._row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

._column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*,
*::after,
*::before {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

a, button {
  text-decoration: none;
}

a:active, button:active {
  opacity: 0.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-width: 1240px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header__inner {
  height: 81px;
}

.header img {
  vertical-align: middle;
}

.header menu li {
  display: inline-block;
  margin-right: 40px;
}

.header menu li:last-child {
  margin: 0;
}

.header menu li a {
  color: #000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.header menu li a:hover {
  color: #0082F4;
}

.header menu li a:hover::after {
  content: "";
}

.hero {
  margin-top: 100px;
}

.hero section {
  margin-bottom: 150px;
}

.hero__about h2 {
  color: #0082F4;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.hero__about h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60.55px;
  line-height: 130%;
  max-width: 531px;
}

.hero__about span {
  color: #0082F4;
}

.hero__about p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.6;
  max-width: 436px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.feature {
  margin-bottom: 150px;
}

.feature h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48.44px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 60px;
}

.feature h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 20px;
}

.feature p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  opacity: 0.6;
}

.feature img {
  margin-bottom: 60px;
  max-width: 150px;
  max-height: 150px;
}

.feature section {
  max-width: 345px;
  max-height: 356px;
  text-align: center;
}

.testimonial {
  min-width: 0;
}

.testimonial h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48.44px;
  line-height: 150%;
}

.testimonial img {
  position: absolute;
  border: 2px solid #fff;
  z-index: 5;
  border-radius: 50%;
  left: 31px;
  width: 65px;
  heigth: 65px;
}

.testimonial__about {
  height: 100%;
  padding: 30px 0;
}

.testimonial__about p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000;
  opacity: 0.7;
  width: 201px;
  height: 120px;
}

.testimonial__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  opacity: 0.9;
  margin-bottom: 10px;
}

.testimonial__name::before {
  content: '';
  display: block;
  height: 2px;
  width: 30px;
  background: #000;
  position: absolute;
  bottom: 75px;
  left: 110px;
}

.testimonial__author {
  padding-left: 50px;
}

.testimonial__job {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  opacity: 0.5;
}

.swiper {
  width: 100%;
  margin: 60px auto 150px auto;
}

.swiper-slide {
  font-size: 18px;
  right: 325px;
  width: 420px !important;
  height: 283px !important;
  border: 1px solid #0082F4;
  -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background: -webkit-gradient(linear, right top, left top, color-stop(85%, #fff), color-stop(15%, #0082F4));
  background: -webkit-linear-gradient(right, #fff 85%, #0082F4 15%);
  background: -o-linear-gradient(right, #fff 85%, #0082F4 15%);
  background: linear-gradient(to left, #fff 85%, #0082F4 15%);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons a {
  display: inline-block;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #0086FC !important;
  font-size: 18px;
}

.swiper-button-next {
  background: rgba(1, 135, 253, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 0;
  margin-left: 40px;
}

.swiper-button-prev {
  background: rgba(1, 135, 253, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 0;
}

.sub {
  background: rgba(232, 236, 255, 0.3);
  text-align: center;
  padding: 75px 0;
}

.sub h2 {
  color: #0082F4;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 31.25px;
  line-height: 37px;
  margin-bottom: 15px;
}

.sub p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 30px;
}

.sub__email {
  width: 487px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 130, 244, 0.2);
          box-shadow: 0px 0px 0px 1px rgba(0, 130, 244, 0.2);
  border-radius: 10px;
  height: auto;
  padding: 15px 0;
}

.sub__email:hover {
  -webkit-box-shadow: 0px 0px 0px 1px #0082f4;
          box-shadow: 0px 0px 0px 1px #0082f4;
}

.sub img, .sub button {
  margin: 0 25px;
}

.sub input[type="text"] {
  border: 0;
  background: transparent;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  opacity: 0.6;
}

.footer__copy {
  background: -webkit-gradient(linear, left top, left bottom, from(#058AFF), color-stop(97.91%, rgba(57, 55, 206, 0.87)));
  background: -webkit-linear-gradient(top, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);
  background: -o-linear-gradient(top, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);
  background: linear-gradient(180deg, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);
}

.footer__copy_inner {
  height: 120px;
  margin: auto auto;
}

.footer__copy p {
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.footer__auth ul, .footer__auth li {
  margin-right: 30px;
}

.footer__auth li:last-child {
  margin: 0;
}

.footer__nav {
  padding: 60px 0 50px 0;
}

.footer__nav .logo {
  opacity: 1;
}

.footer__nav .logo:active {
  opacity: 0.5;
}

.footer__nav h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  margin-bottom: 15px;
}

.footer__nav a, .footer__nav span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  opacity: 0.7;
  color: #000;
}

.footer__nav a:hover {
  text-decoration: underline;
}

.footer__nav a:active {
  opacity: 0.5;
}

.blue-big {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  background: #0082F4;
  color: #fff;
  border-radius: 10px;
  padding: 20px 46px;
  margin-right: 30px;
}

.blue-small {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  background: #0082F4;
  color: #fff;
  border-radius: 6px;
  padding: 15px 30px;
}

.white-big {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 130, 244, 0.1);
          box-shadow: 0px 0px 0px 1px rgba(0, 130, 244, 0.1);
  background: #fff;
  border-radius: 10px;
  padding: 17px 34px 17px 34px;
  color: #000;
}

.white-big img {
  margin-right: 15px;
}

.white-big:hover {
  -webkit-box-shadow: 0px 0px 0px 1px #0082f4;
          box-shadow: 0px 0px 0px 1px #0082f4;
}

.white-small {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  background: #fff;
  border-radius: 10px;
  padding: 15px 31px 15px 31px;
  color: #3C61E1;
  vertical-align: middle;
}
