._container {
  max-width: 1140px;
  margin: 0 auto;
}

._row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

._column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.header {
  height: 81px;
  border-bottom: 1px solid #e5e5e5;
}

.header__inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

menu li {
  display: inline-block;
  margin-right: 40px;
}

menu li a {
  color: #000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

menu li a:hover {
  color: #0082F4;
}

menu li a:hover::after {
  content: '';
}

menu {
  max-heigth: 100%;
}

.btn {
  border: 0;
  border-radius: 6px;
  background: #0082F4;
  color: #fff;
  width: 161px;
  height: 52px;
}
