@import 'vars'
@import 'fonts'
@import 'blocks'

*,
*::after,
*::before
  text-decoration: none
  box-sizing: border-box

button
  outline: none
  border: none
  background: none
  cursor: pointer
  padding: 0

a
    text-decoration: none
    &:active
        opacity: 0.5

h1,
h2,
h3,
h4,
h5,
h6 
  margin: 0

ul,
li 
  margin: 0
  padding: 0
  list-style: none

body
    padding: 0
    margin: 0
    max-width: 100%
    min-width: 1240px

.header
    border-bottom: 1px solid #e5e5e5
    &__inner
        height: 81px
    img
        vertical-align: middle
    menu li
        display: inline-block
        margin-right: 40px
    menu li:last-child
        margin: 0
    menu li a
        color: #000
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 23px
    menu li a:hover
        color: $accent
        &::after
            content: ""


//* start
//* MAIN
.hero
    margin-top: 100px
    section
        margin-bottom: 150px
    &__about
        h2
            color: $accent
            font-family: 'Roboto'
            font-style: normal
            font-weight: 400
            font-size: 25px
            line-height: 29px
            letter-spacing: 0.1em
            text-transform: uppercase
            margin-bottom: 5px
        h3
            font-family: 'Roboto'
            font-style: normal
            font-weight: 700
            font-size: 60.55px
            line-height: 130%
            max-width: 531px
        span
            color: $accent
        p
            font-family: 'Roboto'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 150%
            opacity: 0.6
            max-width: 436px
            margin-bottom: 30px
            margin-top: 20px

.feature
    margin-bottom: 150px
    h1
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 48.44px
        line-height: 150%
        text-align: center
        margin-bottom: 60px
    h2
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 28px
        line-height: 130%
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 150%
        opacity: 0.6
    img
        margin-bottom: 60px
    section
        max-width: 345px
        max-height: 356px
        text-align: center

.sub
    background: rgba(232, 236, 255, 0.3)
    text-align: center
    padding: 75px 0
    h2
        color: $accent
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 31.25px
        line-height: 37px
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 20px
        line-height: 23px
        text-align: center
        opacity: 0.7
//* MAIN
//* end

//* start
//* FOOTER
.footer
    &__copy
        background: linear-gradient(180deg, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%)
        &_inner
            height: 120px
            margin: auto auto
        p
            color: #fff
            font-family: 'Roboto'
            font-style: normal
            font-weight: 500
            font-size: 20px
            line-height: 150%
    &__auth
        ul, li
            margin-right: 30px
        li:last-child
            margin: 0
//* FOOTER
//* end

.blue-big
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 23px
    background: $accent
    color: #fff
    border-radius: 10px
    padding: 20px 46px
    margin-right: 30px

.blue-small
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 23px
    background: $accent
    color: #fff
    border-radius: 6px
    padding: 15px 30px

.white-big
    font-family: 'Roboto'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 19px
    box-shadow: 0px 0px 0px 1px rgba(0,130,244,0.1)
    background: #fff
    border-radius: 10px
    padding: 17px 34px 17px 34px
    color: #000
    img
        margin-right: 15px
    &:hover
        box-shadow: 0px 0px 0px 1px rgba(0,130,244,1)

.white-small
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 23px
    background: #fff
    border-radius: 10px
    padding: 15px 31px 15px 31px
    color: #3C61E1
    vertical-align: middle